    <section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>Ngudal Piwulang</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        {{ ngudal_piwulang:items limit="4" order="asc" }}
                        <div class="col-md-6">
                            <blockquote>
                                <h4>{{ judul }}</h4>
                                <p>{{ piwulang }}</p>
                                <small>{{ penulis }}</cite></small>
                            </blockquote>
                        </div>
                        {{ /ngudal_piwulang:items }}
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->